.metadata
bin
tmp
*.tmp
*.bak
*.swp

# Maven 
target

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea

# eclipse project file
# .loadpath
.settings
.classpath
.project

nodes/org.unina.spatialanalysis.knot.update/features
nodes/org.unina.spatialanalysis.knot.update/plugins

#KNIME
runtime-KNIME