<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!--<extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="src/org/unina/spatialanalysis/mapmatcher/map-search-16.png"
            level-id="myNodes"
            name="My nodes"
            path="/community/mobility"/>
	</extension>-->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/"
            factory-class="org.unina.spatialanalysis.mapmatcher.MapMatcherNodeFactory"
            id="org.unina.spatialanalysis.mapmatcher.MapMatcherNodeFactory"/>
   </extension>
   
</plugin>
